* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  scroll-behavior: smooth;
}

#particles-js {
  height: 100px;
  width: 100%;
  position: absolute;
  z-index: 2;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #222;
  display: flex;
  justify-content: space-between;
  align-content: center;
  z-index: 999;
  transition: top 0.3s;
  border-bottom: black 1px solid;
}

.left-side {
  width: 10rem;
  text-align: center;
}

.left-side a {
  font-weight: 800;
}

nav ul {
  display: flex;
  height: 4rem;
  align-content: center;
  justify-content: space-evenly;
  list-style: none;
}

nav li {
  height: 4rem;
  width: 8rem;
  text-align: center;
}

nav li:active {
  background: black;
}

nav a {
  line-height: 3.85rem;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: #ccc;
  cursor: pointer;
}

header {
  background: linear-gradient(180deg, #fff, rgb(238, 232, 227));
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: darkorange 1px solid;
}

.hero-container {
  min-width: 60%;
  height: 70vh;
}

#hero-text {
  text-align: left;
  font-size: 3rem;
  line-height: 70px;
}

.image-container {
  position: absolute;
  height: 25vh;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.me {
  width: 300px;
  height: 300px;
  animation: fadein ease-in forwards 4s;
}

.fa-angle-double-down {
  font-size: 5rem;
  color: #555;
  animation: bounce 2s infinite ease-in-out;
  cursor: pointer;
  opacity: 0.8;
}

.fa-angle-double-down:hover {
  animation-play-state: paused;
  cursor: pointer;
  opacity: 1;
}

.hero-subtext {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.2rem;
  top: 83vh;
}
.hero-icon-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 89vh;
}

#music-section {
  background: #333;
  height: 100vh;
}

.music-header-container {
  display: flex;
  flex-direction: column;
  min-width: 60%;
  height: 20vh;
  justify-content: flex-end;
  align-items: center;
}

.music-stats-container {
  display: flex;
  min-width: 50%;
  padding-top: 100px;
  height: 35vh;
  justify-content: center;
  align-items: flex-end;
  flex: 3;
  font-size: 0.8rem;
}

.stats-wrapper {
  position: relative;
  display: flex;
  width: 60%;
  height: 30vh;
  justify-content: center;
  align-items: flex-end;
  font-size: 0.8rem;
  overflow: auto;
}

#music-section h2 {
  margin: 30px;
  color: #333;
  font-size: 1.1rem;
}

#music-section span {
  color: darkorange;
}

.music-p-container {
  display: flex;
  width: 100vw;
  height: 15vh;
  justify-content: center;
  align-items: flex-end;
  color: #eee;
  font-size: 1.3rem;
}

.projects,
.plays,
.listeners {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 14rem;
  height: 15rem;
  text-align: center;
  background: white;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.projects:hover,
.plays:hover,
.listeners:hover {
  transform: scale(0.98);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.fa-handshake,
.fa-chart-bar,
.fa-user-friends {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 5rem;
  margin: 10px;
  margin-top: 40px;
  color: #777;
}

#music-section a {
  text-decoration: none;
  text-decoration: underline;
  color: white;
}

#music-section h1 {
  color: white;
  font-weight: 300;
  font-size: 4rem;
  text-align: left;
}

#music-section h3 {
  color: #999;
  margin-top: 20px;
}

.music-icon-container {
  position: absolute;
  margin-top: 70px;
  width: 100%;
  height: 15vh;
  display: flex;
  align-content: flex-end;
  justify-content: center;
}

#work-section {
  height: 100vh;
  background-color: darkorange;
}

.work-header-container {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: #333;
}

.work-header-container h1 {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 30px 0px;
  font-size: 2.5rem;
}

.work-header-container h2 {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 0px 0px;
  font-size: 1.5rem;
}

.work-header-container a {
  text-decoration: none;
  text-decoration: underline;
  color: #333;
  margin-left: 6px;
  font-size: 1.5rem;
}

.work-rest-container {
  display: flex;
  max-width: 75%;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes hover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px) scale(0.9);
  }
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: 1; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  10% {
    opacity: 0;
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    opacity: 1;
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: scale(0.9);
    transform: translateY(15px);
  }
  90% {
    opacity: 0;
    transform: scale(0.9);
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadein2 {
  0% {
    opacity: 0;
    transform: scale(0.9);
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

#myChart {
  background: #333;
  font-size: 1rem;
  border-radius: 5px;
}

.canvas-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
}
